@using QuizBuilder.Data.Entities
@model ApplicationUser

<h2>Призначення ролі</h2>

<p>Електронна пошта: @Model.Email</p>
<p>Ім'я користувача: @Model.FirstName</p>
<p>Прізвище користувача: @Model.LastName</p>

@using (Html.BeginForm("AssignRole", "Admin"))
{
    <input type="hidden" name="userId" value="@Model.Id" />
    <select name="roleName">
        @foreach (var role in ViewBag.Roles)
        {
           <option value="@role.Name" selected="@((role.Name == ViewBag.CurrentRole).ToString().ToLower())">@role.Name</option>
        }
    </select>
    <input type="submit" value="Змінити роль" />
}