@using Microsoft.AspNetCore.Identity
@using QuizBuilder.Data.Entities
@model string

<style>
    table {
        width: 100%;
    }

    th {
        padding: 10px;
    }

    td {
        padding: 5px;
    }
</style>

<h2>Пошук користувачів</h2>

@using (Html.BeginForm("Search", "Admin"))
{
    <label for="email">Електронна пошта:</label>
    <input type="text" name="email" />
    <input type="submit" value="Пошук" />
}

@if (!string.IsNullOrEmpty(Model))
{
    <h3>Результати пошуків:</h3>
    <p>Електорна пошта: @Model</p>
    <a class="btn btn-primary" href="@Url.Action("AssignRole", "Admin", new { userId = Model })">Змінити роль</a>
}

<h3>Всі користувачі та їх ролі:</h3>
<table>
    <tr>
        <th>Електорна пошта</th>
        <th>Ім'я користувача</th>
        <th>Прізвище користувача</th>
        <th>Роль</th>
        <th></th>
    </tr>
    @foreach (var user in ViewBag.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@string.Join(", ", await ((UserManager<ApplicationUser>)ViewBag.UserManager).GetRolesAsync(user))</td>
            <td>
                <a class="btn btn-primary" href="@Url.Action("AssignRole", "Admin", new { userId = user.Id })">Змінити роль</a>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #ccc;"></tr>
    }
</table>