@model QuizBuilder.ViewModels.Test.QuestionEditViewModel

@{
    ViewData["Title"] = "Edit Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Налаштування питання</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QuestionId)
    @Html.HiddenFor(model => model.Type)

    <div class="form-group">
        <label>Текст</label>
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-2">
        <label>Кількість балів за завдання</label>
        @Html.TextAreaFor(model => model.Score, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
    </div>

    @if (Model.Type == "SingleChoice")
    {
        <div class="form-group">
            <label>Correct Option</label>
            @Html.TextBoxFor(model => model.CorrectOptionText, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CorrectOptionText, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Wrong Option 1</label>
            @Html.TextBoxFor(model => model.WrongOption1Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WrongOption1Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Wrong Option 2</label>
            @Html.TextBoxFor(model => model.WrongOption2Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WrongOption2Text, "", new { @class = "text-danger" })
        </div>
    }
    @if (Model.Type == "MultipleChoice")
    {
            <h4>Options:</h4>

            <div class="form-group">
            @Html.LabelFor(model => model.OptionText1, "Option 1")
            @Html.TextBoxFor(model => model.OptionText1, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.OptionText2, "Option 2")
            @Html.TextBoxFor(model => model.OptionText2, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.OptionText3, "Option 3")
            @Html.TextBoxFor(model => model.OptionText3, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.OptionText4, "Option 4")
            @Html.TextBoxFor(model => model.OptionText4, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.OptionText5, "Option 5")
            @Html.TextBoxFor(model => model.OptionText5, new { @class = "form-control" })
            </div>

            <h4>Correct Options:</h4>

            <div class="form-group">
            @Html.CheckBox("CorrectOptions", new { value = "OptionText1" })
            @Html.LabelFor(model => model.OptionText1, "Option 1", new { @class = "form-check-label" })
            </div>
            <div class="form-group">
            @Html.CheckBox("CorrectOptions", new { value = "OptionText2" })
            @Html.LabelFor(model => model.OptionText2, "Option 2", new { @class = "form-check-label" })
            </div>
            <div class="form-group">
            @Html.CheckBox("CorrectOptions", new { value = "OptionText3" })
            @Html.LabelFor(model => model.OptionText3, "Option 3", new { @class = "form-check-label" })
            </div>
            <div class="form-group">
            @Html.CheckBox("CorrectOptions", new { value = "OptionText4" })
            @Html.LabelFor(model => model.OptionText4, "Option 4", new { @class = "form-check-label" })
            </div>
            <div class="form-group">
            @Html.CheckBox("CorrectOptions", new { value = "OptionText5" })
            @Html.LabelFor(model => model.OptionText5, "Option 5", new { @class = "form-check-label" })
            </div>
    }
    @if (Model.Type == "Matching")
    {
            <h4>Statements and Answers:</h4>
            <div class="form-group">
            @Html.LabelFor(model => model.Statement1, "Statement 1")
            @Html.TextBoxFor(model => model.Statement1, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Answer1, "Answer 1")
            @Html.TextBoxFor(model => model.Answer1, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Statement2, "Statement 2")
            @Html.TextBoxFor(model => model.Statement2, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Answer2, "Answer 2")
            @Html.TextBoxFor(model => model.Answer2, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Statement3, "Statement 3")
            @Html.TextBoxFor(model => model.Statement3, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Answer3, "Answer 3")
            @Html.TextBoxFor(model => model.Answer3, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Statement4, "Statement 4")
            @Html.TextBoxFor(model => model.Statement4, new { @class = "form-control" })
            </div>
            <div class="form-group">
            @Html.LabelFor(model => model.Answer4, "Answer 4")
            @Html.TextBoxFor(model => model.Answer4, new { @class = "form-control" })
            </div>
    }
    else if (Model.Type == "Open")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Text)
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    }
    else if (Model.Type == "Algorithm")
    {
        <div class="form-group col-md-4">
            <label>Очікуваний вивід 1:</label>
            @Html.TextBoxFor(model => model.ExpectedAnswer1Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExpectedAnswer1Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <label>Очікуваний вивід 2:</label>
            @Html.TextBoxFor(model => model.ExpectedAnswer2Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExpectedAnswer2Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <label>Очікуваний вивід 3:</label>
            @Html.TextBoxFor(model => model.ExpectedAnswer3Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExpectedAnswer3Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <label>Вхідні дані 1:</label>
            @Html.TextBoxFor(model => model.Answer1Input, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Answer1Input, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <label>Вхідні дані 2:</label>
            @Html.TextBoxFor(model => model.Answer2Input, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Answer2Input, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <label>Вхідні дані 3:</label>
            @Html.TextBoxFor(model => model.Answer3Input, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Answer3Input, "", new { @class = "text-danger" })
        </div>
    }

    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary mt-2" />
        <a class="btn btn-secondary mt-2" asp-action="Index" asp-route-id="@Model.TestId">Повернутись назад</a>
    </div>
}
