@model IEnumerable<QuizBuilder.Data.Entities.Subject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список створених предметів</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Створити предмет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва предмету
            </th>
            <th>
                Код підключення
            </th>
            <th>
                Код доступу
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Tests" asp-route-id="@item.Id">Тестування</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Налаштування</a> 
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Деталі</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
